@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 179 36% 48%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}
p,
h1,
h2,
h3,
h4 {
  position: relative;
  z-index: 20;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  .z-priority {
    @apply relative z-20;
  }
  /* SERVICES DESCRIPTION COMPONENTS */

  .article-split {
    @apply flex flex-col  lg:flex-row;
  }
  .article-split-text {
    @apply flex-1 p-[20px];
  }
  .article-split-media {
    @apply flex-1 w-full;
  }
  .article-image-split-container {
    @apply h-full;
  }
  .article-image-split {
    @apply w-full h-full object-cover;
  }
  .article-main-title-container {
    @apply flex flex-col gap-[15px] mb-[20px];
  }

  .list-title {
    @apply text-bodyMMobile font-semibold flex flex-col gap-[20px] mb-[20px];
  }
  .list-title-big {
    @apply text-headingSMobile lg:text-headingS  flex flex-col gap-[20px] mb-[20px];
  }
  .article-list-disc {
    @apply list-disc pl-[20px] pb-[10px] text-bodyMMobile md:text-bodyM;
  }

  .article-list-item {
    @apply flex justify-start gap-[10px] mb-[10px]  pb-[10px] border-b-[1px] max-sm:last-of-type:border-none;
  }
  .article-h1 {
    @apply text-headingLMobile lg:text-headingL;
  }
  .article-h1-subtitle {
    @apply text-headingS;
  }
  .article-h2 {
    @apply text-headingMMobile md:text-headingM mt-[40px] mb-[20px] uppercase border-b-[1px] border-accent/20 font-bold;
  }
  .article-h3 {
    @apply text-headingSMobile md:text-headingS mb-[10px] mt-[24px] font-bold;
  }
  .article-h4 {
    @apply font-bold mt-[15px] mb-[5px];
  }
  .article-p {
    @apply mb-[12px] text-bodyMMobile md:text-bodyM;
  }

  .article-emphesise {
    @apply font-bold;
  }
  .article-text-link {
    @apply text-secondary hover:text-primary transition-all duration-200 cursor-pointer;
  }
  .article-video {
    @apply w-[80%] mx-auto mb-[30px];
  }
  .article-video-full {
    @apply mx-auto;
  }
}
